---
import "../styles/global.css";
---

<section class="max-w-4xl mx-auto px-6 py-12 bg-neutral-950">
    <h2 class="text-3xl font-bold mb-12 text-center">Sobre mí</h2>
    <p class="text-neutral-300 text-center text-lg leading-relaxed">
      Soy estudiante de Ingeniería en Software y me apasiona crear aplicaciones y explorar nuevas tecnologías. Me atraen especialmente los proyectos que resuelven problemas reales de los usuarios, donde puedo involucrarme desde las primeras etapas hasta su implementación final.
    </p>
    <p class="text-neutral-300 text-center text-lg leading-relaxed">
      Me considero una persona metódica y organizada, siempre con curiosidad por aprender cosas nuevas. En mi tiempo libre, disfruto viajar, entrenar tenis o simplemente descubrir algo nuevo que me inspire.
    </p>
  </section>