---
import ProjectCard from "../components/legacy/ProjectCard.astro";
---

<section id="projects" class="bg-neutral-950 py-12 px-6">
  <h2 class="text-3xl font-bold text-center text-white mb-12">Proyectos</h2>

  <div class="grid grid-cols-1 sm:grid-cols-1 gap-5 max-w-xl mx-auto">
    <div class="transition-transform duration-300 transform hover:scale-[1.02]">
      <ProjectCard
        title="Pockbit - Punto de Venta"
        description="Sistema completo de punto de venta con control de productos, ventas, historial y reportes. Desarrollado con .NET Framework, Bootstrap, SQL y hospedado en Azure."
        image="/Portfolio/images/projects/pockbit/pockbit.webp"
        repo="https://github.com/CesarS39/Pockbit_v2"
        link="/Portfolio/projects/Pockbit/"
      />
    </div>
  </div>
</section>