<section class="bg-neutral-950 py-12 px-6 text-white" id="vision">
  <h2 class="text-3xl font-bold mb-12 text-center">Visión Profesional</h2>
  <div class="max-w-3xl mx-auto text-center text-lg text-neutral-300">
    <p>
      Mi objetivo es convertirme en un desarrollador de software full-stack, capaz de organizar proyectos de la mejor manera, combinando los conocimientos de mi carrera técnica con los de mi carrera profesional. Nunca dejar de aprender nuevas tecnologías o mejorar en mi especialidad.
    </p>
  </div>
</section>