---
import "../styles/global.css";
---

<section class="max-w-4xl mx-auto px-6 py-32 bg-neutral-950">
    <h2 class="text-3xl font-bold mb-6 text-white">Sobre mí</h2>
    <p class="text-neutral-300 text-lg leading-relaxed">
      Soy un desarrollador apasionado por la tecnología y el aprendizaje constante. Me encanta desarrollar software, investigar nuevas herramientas y metodologías. Además, disfruto del tenis y valoro profundamente la organización y el trabajo con metodologías ágiles. Me considero una persona comprometida con los tiempos y la calidad del trabajo.
    </p>
  </section>