<section class="bg-neutral-950 py-12 px-6 text-white" id="habilidades">
  <h2 class="text-3xl font-bold mb-12 text-center">Habilidades</h2>
  <div class="max-w-6xl mx-auto grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">Inglés (B1)</h3>
      <p class="text-md text-neutral-300">
        Puedo leer documentación técnica, entender conferencias y comunicarme en
        inglés.
      </p>
    </div>

    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">Trabajo en equipo</h3>
      <p class="text-md text-neutral-300">
        Me adapto fácilmente a distintos roles y colaboro para sacar adelante un
        proyecto.
      </p>
    </div>

    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">
        Organización y puntualidad
      </h3>
      <p class="text-md text-neutral-300">
        Soy muy ordenado y me gusta cumplir con los tiempos de entrega.
      </p>
    </div>

    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">
        Resolución de problemas
      </h3>
      <p class="text-md text-neutral-300">
        Soy eficiente al buscar diferentes soluciones a un problema.
      </p>
    </div>

    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">
        Comunicación efectiva
      </h3>
      <p class="text-md text-neutral-300">
        Comunico información de manera clara y también tengo habilidades de
        oratoria.
      </p>
    </div>

    <div
      class="bg-neutral-800 p-6 rounded-2xl shadow-md text-center transition-all duration-300 hover:scale-105 hover:shadow-lg"
    >
      <h3 class="text-xl font-semibold text-white mb-2">
        Aprendizaje autónomo
      </h3>
      <p class="text-md text-neutral-300">
        Siempre estoy explorando nuevas tecnologías y buscando cómo mejorar en
        lo que hago.
      </p>
    </div>
  </div>
</section>
