---
import BentoCard from './BentoCard.astro';
---

<section id="intereses" class="bg-neutral-950 py-12 px-6 text-white">
  <h2 class="text-3xl font-bold mb-20 text-center fade-up">Intereses y Pasatiempos</h2>

  <div class="max-w-5xl mx-auto">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4"
    >
      <BentoCard
        title="Tennis"
        description="Me encanta el deporte, realmente es un deporte que podria jugar horas. Fui campeon de mi universidad en 2024"
        image="/Portfolio/images/intereses/tennis2.webp"
        className="lg:col-span-3 lg:row-span-2 min-h-[240px]"
      />
      <BentoCard
        title="Aprender"
        description="Investigo constantemente sobre software y hardware. Usualmente me gusta hacer proyectos con los que estoy aprendiendo por ejemplo mi servidor de debian"
        image="/Portfolio/images/intereses/aprender.webp"
        className="lg:col-span-2 lg:row-span-2 lg:col-start-4 min-h-[240px]"
      />
      <BentoCard
        title="Viajar"
        description="Cuanto tengo unos dias libres me gusta viajar, conocer lugares nuevos sobre todo probar la comida que hay."
        image="/Portfolio/images/intereses/viajar.webp"
        className="lg:col-span-2 lg:row-span-2 lg:row-start-3 min-h-[240px]"
      />
      <BentoCard
        title="Youtube y Twitch"
        description="Durante la prepa solia hacer mis porpios video de youtube, hacer streams en twitch incluso solia editar y producir videos para unos amigos."
        image="/Portfolio/images/intereses/FondoStream.webp"
        className="lg:col-span-2 lg:row-span-2 lg:col-start-3 lg:row-start-3 min-h-[240px]"
      />
      <BentoCard
        title="Videojuegos"
        description="Este es otro de mis hobbies, juego seguido con mis amigos warzone no soy el mejor pero las risas de esos momentos valen oro."
        image="/Portfolio/images/intereses/videojuegos.webp"
        className="lg:row-span-2 lg:col-start-5 lg:row-start-3 min-h-[240px]"
      />
    </div>
  </div>
</section>