---
---

<section class="bg-neutral-950 py-12 px-6 text-white" id="servicio-social">
    <h2 class="text-3xl font-bold mb-12 text-center">Servicio Social</h2>
    <div class="max-w-3xl mx-auto text-center text-lg text-neutral-300">
      <p>
        Durante mi servicio social, diseñé e implementé sistemas no-code utilizando Notion para optimizar la gestión del extracurricular de tennis en la Universidad Politécnica de Pachuca. Estos sistemas permitieron una administración más eficiente de asistencias, eventos y calificaciones, agilizando el pase de lista y facilitando el análisis de estadísticas clave para la toma de decisiones junto con un mejor gestion administrativa. Además, impartí clases de tenis, contribuyendo directamente a la formación deportiva de algunos estudiantes.
      </p>
    </div>
</section>