---
---
<section class="bg-neutral-950 py-12 px-6 text-white" id="experiencia">
    <h2 class="text-3xl font-bold mb-12 text-center">Experiencia Laboral</h2>
    <div class="max-w-5xl mx-auto">
      <div class="bg-neutral-800 p-6 rounded-2xl shadow-md transition-all duration-300 hover:scale-[1.02] hover:shadow-[0_0_20px_4px_rgba(139,92,246,0.15)]">
        <h3 class="text-xl text-2xl font-semibold text-white mb-1">Impacto - Empresa de Publicidad</h3>
        <p class="text-sm text-neutral-400 italic mb-4">Auxiliar Administrativo (2022)</p>
        <ul class="list-disc list-inside space-y-2 max-w-3xl mx-auto text-left text-md text-neutral-300">
          <li>Supervisión de personal y coordinación de actividades semanales.</li>
          <li>Organización de proyectos y cumplimiento de tiempos de entrega.</li>
          <li>Planeación estratégica del flujo de trabajo y asignación de recursos.</li>
          <li>Realización de cotizaciones para clientes y seguimiento comercial.</li>
          <li>Manejo de contabilidad básica y administración financiera interna.</li>
        </ul>
      </div>
    </div>
  </section>