---
const { src, alt, isActive = false } = Astro.props;
---

<div
  class={`transition-opacity duration-1000 ease-in-out ${
    isActive ? "opacity-100" : "opacity-0 hidden"
  }`}
  data-carousel-item={isActive ? "active" : ""}
>
  <img
    loading="lazy"
    src={src}
    alt={alt}
    class="block w-full h-full object-cover rounded-lg"
  />
</div>