---
import BaseSection from "../atoms/BaseSection.astro";
import Heading from "../atoms/Heading.astro";
import Paragraph from "../atoms/Paragraph.astro";
---

<BaseSection id="sobre-mi">
  <div class="text-center mb-16">
    <Heading level="h2" className="text-4xl font-bold mb-6 bg-gradient-to-r from-purple-400 to-pink-500 bg-clip-text text-transparent">
       Sobre mi
    </Heading>
    <div class="w-24 h-1 bg-gradient-to-r from-cyan-400 to-indigo-500 mx-auto mb-6"></div>
  </div>
  <Paragraph className="text-center">
    Mi nombre es César Samuel Enriquez Bautista (Desarrollador full stack), soy estudiante de Ingeniería en Software y me apasiona
    crear aplicaciones y explorar nuevas tecnologías. Me atraen especialmente
    los proyectos que resuelven problemas reales de los usuarios, donde puedo
    involucrarme desde las primeras etapas hasta su implementación final.
  </Paragraph>

  <Paragraph className="text-center">
    Me considero una persona metódica y organizada, siempre con curiosidad por
    aprender cosas nuevas. En mi tiempo libre, disfruto viajar, entrenar tenis o
    simplemente descubrir algo nuevo que me inspire.
  </Paragraph>
</BaseSection>
