---
import BaseSection from "../atoms/BaseSection.astro";
import Heading from "../atoms/Heading.astro";
import Paragraph from "../atoms/Paragraph.astro";
---

<BaseSection id="servicio-social" >
  <div class="text-center mb-16">
    <Heading level="h2" className="text-4xl font-bold mb-6 bg-gradient-to-r from-purple-400 to-pink-500 bg-clip-text text-transparent">
        Servicio Social
    </Heading>
    <div class="w-24 h-1 bg-gradient-to-r from-cyan-400 to-indigo-500 mx-auto mb-6"></div>
  </div>
  <Paragraph className=" text-center">
    Durante mi servicio social, diseñé e implementé sistemas no-code utilizando Notion para optimizar la gestión del extracurricular de tennis en la Universidad Politécnica de Pachuca. Estos sistemas permitieron una administración eficiente en cuanto a las asistencias, eventos y calificaciones, agilizando el pase de lista y facilitando el análisis de estadísticas clave para la toma de decisiones junto con un mejor gestión administrativa. Además, impartí clases de tenis, contribuyendo directamente a la formación deportiva de algunos estudiantes.
  </Paragraph>
</BaseSection> 