---
import BaseSection from "../atoms/BaseSection.astro";
import Heading from "../atoms/Heading.astro";
import Paragraph from "../atoms/Paragraph.astro";
---

<BaseSection id="vision">
  <div class="text-center mb-16">
    <Heading level="h2" className="text-4xl font-bold mb-6 bg-gradient-to-r from-purple-400 to-pink-500 bg-clip-text text-transparent">
       Visión Profesional
    </Heading>
    <div class="w-24 h-1 bg-gradient-to-r from-cyan-400 to-indigo-500 mx-auto mb-6"></div>
  </div>

  <div class="max-w-5xl mx-auto text-center">
    <Paragraph>
      Mi objetivo es convertirme en un desarrollador de software full-stack, capaz de organizar proyectos de la mejor manera, combinando los conocimientos de mi carrera técnica con los de mi carrera profesional. Nunca dejar de aprender nuevas tecnologías o mejorar en mi especialidad.
    </Paragraph>
  </div>
</BaseSection>